<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Cajas registrados</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="table-responsive">
					<table class="table table-striped jambo_table bulk_action">
						<thead class="headings">
							<tr>
								<th>#</th>
								<th>Caja</th>
								<th>Cuenta contable</th>
								<th>Dirección</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr class="even pointer" ng-repeat="cashbox in cashboxes | paginate" ng-class="{selectelement:cashboxeselected.id==cashbox.id}">
								<td>{{$index + 1}}</td>
								<td>{{cashbox.title}}</td>
								<td>{{cashbox.account}}</td>
								<td>{{cashbox.cashier}}</td>
								<td ng-click="selectedcashbox(cashbox,1)"><i class="fa fa-pencil-square-o" title="Editar"></i></td>
								<td data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="selectedcashbox(cashbox,2)"><i class="fa fa-trash" title="Eliminar"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="row">
					<paginator></paginator>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Registrar caja</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<form class="form-horizontal form-label-left">
					<p></p>
					<label for="title">Nombre <span class="required">*</span></label>
					<input type="text" id="title" class="form-control" ngfocus order="1" ng-model="editcashbox.title" validate="text-number" required>

					<label for="account">Cuenta contable <span class="required">*</span></label>
					<input type="text" id="account" class="form-control" ngfocus ng-model="editcashbox.account" validate="teleaccount-number" required>
					
					<p>
						<label for="idcashier">Cajero <span class="required">*</span></label>
						<select id="idcashier" class="form-control" ng-options="cashier.title for cashier in listcashier" ng-model="selectedcashier"
							required ng-enter="savecashbox()">                            
                        </select>
					</p>

					<div class="ln_solid"></div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<button type="button" class="btn btn-default" ng-click="newcashbox()" title="Limpiar controles">Cancelar</button>
						<button type="button" class="btn btn-primary" ng-disabled="validatecontrols()" ng-click="savecashbox()" title="Guardar">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div id="modaldeletecashbox" class="modal fade bs-example-modal-sm" tabindex="-1" cashbox="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Eliminar caja</h4>
			</div>
			<div class="modal-body">
				<p>¿Esta seguro de eliminar el registro?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" title="Cerrar">Cancelar</button>
				<button type="button" class="btn btn-danger" ng-click="deletecashbox()" title="Eliminar">Eliminar</button>
			</div>
		</div>
	</div>
</div>