<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Homepage - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Login">loggin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
        <br>
        <br>
        <h1>Nombre del Evento</h1>
        <br>
        <br>
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/evento"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/evento">Preferencia</a>
                </h4>
                <form class="needs-validation" id="productoFormulario" method="post" accept-charset="utf-8" entype="multipart/form-data">
                  <input type="number"  class="form-control" name="cantiAdu"  id="cantiAdu">
                  <input type="number"  class="form-control" name="cantikid"  id="cantikid">
                  <input type="number"  class="form-control" name="precioAdu"  id="precioAdu">
                  <input type="number"  class="form-control" name="precioKid"  id="precioKid">
                  <p class="card-text">Ni単os: 15 Bs.</p>
                  <p class="card-text">Adultos: 15 Bs.</p>
                  <div class="col-md-12">
                    <div class="text-center">
                      <button class="btn btn-primary col-md-12" type="submit" value="Upload">Compra de tickets</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/evento"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/evento">General</a>
                </h4>
                <form class="needs-validation" id="productoFormulario" method="post" accept-charset="utf-8" entype="multipart/form-data">
                  <input type="number" value="15" class="form-control" name="cantiAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="cantikid" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioKid" style="display: none;">
                  <p class="card-text">Ni単os: 15 Bs.</p>
                  <p class="card-text">Adultos: 15 Bs.</p>
                  <div class="col-md-12">
                  <div class="text-center">
                    <button class="btn btn-primary col-md-12" type="submit" value="Upload">Compra de tickets</button>
                  </div>
                </form>
                </div>            
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/evento"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/evento">Curva</a>
                </h4>
                <form class="needs-validation" id="productoFormulario" method="post" accept-charset="utf-8" entype="multipart/form-data">
                  <input type="number" value="15" class="form-control" name="cantiAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="cantikid" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioKid" style="display: none;">
                  <p class="card-text">Ni単os: 15 Bs.</p>
                  <p class="card-text">Adultos: 15 Bs.</p>
                  <div class="col-md-12">
                    <div class="text-center">
                      <button class="btn btn-primary col-md-12" type="submit" value="Upload">Compra de tickets</button>
                    </div>
                  </div> 
              </form>           
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="/evento"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/evento">VIP</a>
                </h4>
                <form class="needs-validation" id="productoFormulario" method="post" accept-charset="utf-8" entype="multipart/form-data">
                  <input type="number" value="15" class="form-control" name="cantiAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="cantikid" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioAdu" style="display: none;">
                  <input type="number" value="15" class="form-control" name="precioKid" style="display: none;">
                  <p class="card-text">Ni単os: 15 Bs.</p>
                  <p class="card-text">Adultos: 15 Bs.</p>
                  <div class="col-md-12">
                    <div class="text-center">
                      <button class="btn btn-primary col-md-12" type="submit" value="Upload">Compra de tickets</button>
                    </div>
                  </div>
                </form>             
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>

</body>

</html>
