<% include partials/_header %>

<div class="container">

  <!--<div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <textarea class="form-control" name="telefono" cols="80" placeholder="Telefono"></textarea>
            </div>
            
            <div class="form-group">
                <textarea class="form-control" name="email" cols="80" placeholder="email"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">
              Crear
            </button>
          </form>
        </div>
      </div>
    </div>
    -->
    <!-- // igual al html solo que renderizado con mas herramientas--> 
  
   
  </div>

</div>

