<div class="login_wrapper">
    <div class="animate form login_form">
        <section class="login_content">
            <form role="form">
                <div id="step-1" class="content" style="display: block;">
                    <h1>Cambiar contraseña</h1>
                    <div>
                        <input type="password" class="form-control" placeholder="Contraseña actual" required data-ng-model="pass.passcurrent">
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Contraseña nueva" validate="password" required data-ng-model="pass.passnew" ng-enter="changepass()">
                    </div>
                    <div>
                        <button type="button" class="btn btn-default submit" ng-disabled="validatecontrolspass()" ng-click="changepass()">Guardar</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>